<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="https://toppng.com/uploads/preview/state-bank-of-india-sbi-vector-logo-115742596090gi1tb90l9.png"
      width="40" height="40" class="d-inline-block align-top" alt="">
  </a>
</nav>


<div id="outer" class="container">
  <div id="inner">

    <div class="card">
      <div class="card-body">
        <button class="btn btn-dark" routerLink="admin/login">Admin</button>
        <button class="btn btn-dark ml-3" routerLink="customer/login">Customer</button>
      </div>
    </div>
  </div>
</div>
